<p id="notice"><%= notice %></p>
<h1><%= @player_name %> stats</h1>
<ul style="list-style: none; cursor: pointer"><li><a id="runs">By Venue</a></li><li><a id="oppositions">By Opposition</a></li><li><a id="results">By Result</a></li></ul>

<div id="container"></div>

